@import url('https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&family=Caprasimo&display=swap');

body{
    background: #FFE3B0 !important;
    
}

main{
    margin: 1em auto;
    max-width: 1000px !important;
    width: 95%;
}

h1{
    font-family: "Caprasimo", serif;
    font-weight: 500;
    font-style: normal;
    text-align: center;
    color: #3f292e;
    font-size: 2.5rem;
}

h2{
    font-family: "Caprasimo", serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    color: #3f292e;
}

h3{
    font-family: "Afacad", sans-serif;
    font-size: 1.5rem;
    font-optical-sizing: auto;
    color: #3f292e;
}

p, label{
    font-family: "Afacad", sans-serif;
    font-size: 18px;
    font-optical-sizing: auto;
    color: #3f292e;
    margin-bottom: 2px;
}

a{
    color: beige;
    text-decoration: none;
}

a:hover{
    color:#492E34;
}

.title{
    font-family: "Caprasimo", serif;
}

button, .button-style {
    background-color: #E47161;
    padding: 2%;
    margin: 1%;
    border-radius: 8px;
    font-family: "Afacad", sans-serif;
    font-optical-sizing: auto;
    color: beige;
    border:#492E34 2px solid ;
    cursor: pointer;
    display: flex;
    justify-content: center;
    filter: drop-shadow(2px 4px 4px #492E34);
}

button:hover, .button-style:hover{
    background-color:#8f505e;
}

.active{
    background-color:#8f505e;
}

.navbar{
    background-color:#E47161;
}

tr{
    margin-bottom:20px;
}

tbody{
    background-color: beige;
    padding: 2%;
    margin: 1%;
    border-radius: 8px;
    font-family: "Afacad", sans-serif;
    font-optical-sizing: auto;
    color:#492E34;
    border:#492E34 2px solid ;
    justify-content: center;
    filter: drop-shadow(2px 4px 4px #492E34);
    vertical-align: bottom;
    
}

.table thead th {
    border-bottom: none;
}

.table th, .table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: none;
}

.table-primary, .table-primary>th, .table-primary>td {
    background-color: transparent; 
}

td{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.table-hover .table-primary:hover {
    background-color: transparent;
}
.table-hover .table-primary:hover>td, .table-hover .table-primary:hover>th {
    background-color: transparent;
}

.wrapper {
    background-color: beige;
    padding: 2%;
    margin: 1% 20%;
    border-radius: 8px;
    font-family: "Afacad", sans-serif;
    font-optical-sizing: auto;
    color:#492E34;
    border:#492E34 2px solid ;
    justify-content: center;
    filter: drop-shadow(2px 4px 4px #492E34);
    vertical-align: bottom;
}